{% extends 'base.html'%}

{% block title %}Adicionar livro{% endblock %}

{% block content %}

    <h1>Adicionar livro</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a href="{% url 'index' %}" class="btn btn-primary" >Voltar</a>
        <br>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Erro!</strong> Por favor, corrija os seguintes erros:
            <ul>
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}