{% extends 'base.html' %}

{% block title %}Detalhes do Exame{% endblock %}


{% block content %}
    <div class="datailContainer">
        <h1>Detalhes do Exame:</h1>
        <p><strong>Nome do exame:</strong> {{ agendamentos.exame }}</p>
        <p><strong>Data do agendamento:</strong> {{ agendamentos.data }} às {{ agendamentos.horario}}h</p>
        <p><strong>Andamento:</strong> {{ agendamentos.andamento }}</p>
        <p><strong>Data de Atualização:</strong> {{agendamentos.modificado|date:"H:i | d/m/Y "}} </p>
        {% if agendamentos.resultado %}
            <a
                href="{{agendamentos.resultado.url}}"
                class="btn btn-success active"
                role="button"
                target="_blank"
                >Clique aqui para visualizar</a
            >
            </p>
        {% else %}
            <a
                href="#"
                class="btn btn-danger disabled"
                role="button"
                >Resultado indisponível</a
            >
            </p>
        {% endif %}
        <!-- <a href="{% url 'update' pk=agendamentos.pk %}" class="btn btn-primary">Editar</a> -->
        <a href="{% url 'delete' pk=agendamentos.pk %}" class="btn btn-danger button">Cancelar</a>
        <a href="{% url 'index' %}" class="btn btn-primary button" >Voltar</a>
    </div>

{% endblock %}