{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_superuser == False %}
    <div class="table-container" style="text-align: center;">
        <h2 style="margin-top: 3vh;">Meus Exames</h2>
        <form class="mb-3" method="get" action="">
            <div class="form-row" style="display: flex; gap:20px; justify-content: center;">
                <div class="col-md-4 mb-3">
                    <label for="filtro_data">Nome do Exame</label>
                    <input class="form-control" type="text" name="filtro_exame" placeholder="Pesquisar">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="filtro_andamento">Filtrar por Andamento:</label>
                        <select class="form-control" name="filtro_andamento" id="filtro_andamento">
                            <option value="">Todos</option>
                            <option value="Agendado">Agendado</option>
                            <option value="Realizado">Realizado</option>
                            <option value="Enviado ao laboratório">Enviado ao laboratório</option>
                            <option value="Concluído">Concluído</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="filtro_data">Filtrar por Data:</label>
                    <input type="date" class="form-control" name="filtro_data" id="filtro_data">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><strong>Nome do Exame</strong></th>
                    <!-- <th scope="col"><strong>Data de agend.</strong></th> -->
                    <th scope="col"><strong>Andamento</strong></th>
                    <th scope="col"><strong>Ações</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                    <tr>
                        <td><a href="{% url 'detail' pk=agendamento.pk %}" class="text-decoration-none">{{ agendamento.exame }}</a></td>
                        <!-- <td>{{ agendamento.data|date:"d/m/Y" }} às {{ agendamento.horario}}</td> -->
                        <td>{{ agendamento.andamento }}</td>
                        <td>
                            <a href="{% url 'detail' pk=agendamento.pk %}" class="btn btn-primary btn-sm">Detalhes</a>
                            <!-- <a href="{% url 'update' pk=agendamento.pk %}" class="btn btn-primary btn-sm">Alterar</a> -->
                            <a href="{% url 'delete' pk=agendamento.pk %}" class="btn btn-danger btn-sm">Cancelar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
            <a href="{% url 'create' %}" class="btn btn-success button">Agendar Exame</a>
        </div>
{% elif user.is_superuser %}
    <div class="container text-center mt-5">
        <h1>Menu Administrativo</h1>
        <a href="{% url 'usuarios_admin' %}" class="btn btn-primary button mt-5">Clientes</a>
        <a href="{% url 'admin' %}" class="btn btn-primary button mt-5">Agendamentos</a>
        <a href="{% url 'exames_admin' %}" class="btn btn-primary button mt-5">Exames</a>
    </div>

{% else %}
    <div class="container" style="text-align: center;">
        <h2 style="margin-top: 3vh;">Bem-vindo ao Menezes' Labs</h2>
        <p>Para agendar um exame, por favor, faça login.</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary button">Entrar</a>
    </div>
{% endif %}
{% endblock %}

