{% extends 'base.html' %}

{% block title %}Alterar Agendamento{% endblock %}

{% block content %}
<div class="create">
    <h1 style="margin: 4vh 0;">Alterar Exame: {{agendamentos.exame}}</h1>
    <form id="alterar-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Alterar</button>
        <a href="{% url 'index' %}" class="btn btn-primary" >Meus exames</a>
        <br>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <strong>Erro!</strong> Por favor, corrija os seguintes erros:
            <ul>
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
    <script>
        document.getElementById('alterar-form').addEventListener('submit', function(e) {
            event.preventDefault();
            Swal.fire({
                title: 'Confirmação',
                text: 'Deseja realmente atualizar este exame?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                } else {
                    Swal.fire('Cancelado', '', 'info');
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
