{% extends 'base.html' %}

{% block title %}Excluir Exame{% endblock %}

{% block content %}

    <h1>Excluir Exame: {{ exame }}</h1>
    <form id="cancelar-form" method="POST">
        {% csrf_token %}
        <p style="font-size: 3vh;">Tem certeza que deseja excluir o seu exame de {{ exame }} ?</p>
        <a href="{% url 'exames_admin' %}" class="btn btn-primary" >Voltar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>

<script>
    document.getElementById('cancelar-form').addEventListener('submit', function(e) {
        event.preventDefault();
        Swal.fire({
            title: 'Confirmação',
            text: 'Deseja realmente cancelar este exame?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            } else {
                Swal.fire('Exame não cancelado', '', 'info');
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}