{% extends 'base.html' %}

{% block title %}Administração{% endblock %}

{% block content %}

    <form id="cancelar-form" method="POST">
        {% csrf_token %}
        <h1>Exame: {{ agendamentos.exame }}</h1>
        <h2>Cliente: {{ agendamentos.usuario|capfirst }}</h2>
        <h2>Data: {{ agendamentos.data }} ás {{agendamentos.horario}}</h2>
        <p style="font-size: 3vh;">Tem certeza que deseja excluir este exame? ?</p>
        <a href="{% url 'index' %}" class="btn btn-primary" >Voltar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>

<script>
    document.getElementById('cancelar-form').addEventListener('submit', function(e) {
        event.preventDefault();
        Swal.fire({
            title: 'Confirmação',
            text: 'Deseja realmente cancelar este agendamento?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            } else {
                Swal.fire('Exame não excluído', '', 'info');
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}