{% extends 'base.html'%}

{% block title %}Adicionar Cliente{% endblock %}

{% block content %}
<style>
    .createUser{
        font-size: 3vh;
    }
    .createUser p{
    display: grid;
    }
    .helptext{
        display: none;
    }
</style>
<div class="create">
    <h1 style="margin: 4vh 0; font-size: 5vh">Adicionar Cliente</h1>
    <form id="createUser-form" class="createUser" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <strong>Erro!</strong> Por favor, corrija os seguintes erros:
            <ul>
            {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
    <script>
        document.getElementById('createUser-form').addEventListener('submit', function(e) {
            event.preventDefault();
            Swal.fire({
                title: 'Confirmação',
                text: 'Deseja realmente cadastrar esse cliente?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                } else {
                    Swal.fire('Cancelado', '', 'info');
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}