{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<main style="text-align: center;">
    <h1 class="mt-1">Clientes</h1>
    <div class="container mt-3 ">
        <form class="mb-3" method="get" action="">
            <div class="input-group">
                <input class="form-control" type="text" name="filtro_usuario" placeholder="Pesquisar">
                <button class="btn btn-primary" type="submit">Filtrar</button>
                <button type="submit" class="btn btn-danger" name="filtro_desativados" value="true">Clientes Desativados</button>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                   <th> <strong>Cliente</strong></th>
                   <th><strong>Quantidade de Exames</strong></th>
                   <th><strong>Ações</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario|capfirst }}</td>
                    <td>{{ usuario.agendamentoexame_set.count }}</td>
                    <td>
                        <a href="{% url 'usuarios_detail_admin' pk=usuario.pk %}" class="btn btn-primary btn-sm">Vizualizar</a>
                        <a href="{% url 'usuarios_update_admin' pk=usuario.pk %}" class="btn btn-primary btn-sm">Alterar</a>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <p><strong>Total de Usuários</strong>: {{ qtd_usuarios }}</p>
            <p><strong>Total de Agendamentos</strong>: {{ qtd_agentamentos }}</p>
            <p><strong>Usuários com Agendamentos</strong>: {{ qtd_user_agentamentos }}</p>
            <a href="{% url 'usuarios_create_admin' %}" class="btn btn-success button mb-4">Adicionar Cliente</a>   
            <!-- <a class="btn btn-primary mb-4" href="{% url 'admin' %}">Gerenciar Agendamentos</a>
            <a class="btn btn-primary mb-4" href="{% url 'exames_admin' %}">Gerenciar Exames</a> -->
        </div>
    </main>
    {% endblock %}
    